a:hover {
	color:#333;
}
body {
  padding-top: 70px;
}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius: 3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom: 7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-name:hover {
	color:#333;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
	margin-left:10px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
	margin-left:10px;
}
.review-block-description{
	font-size:13px;
	margin-left:10px;
	position:relative;
	word-wrap:break-word;
	padding-right:10px;
}
.navbar, .navbar-default, .navbar-fixed-top {
	/* margin-top:25px; */
	position:absolute;
	padding:0;
	border:0;
}
#star1:hover, #star2:hover, #star3:hover, #star4:hover, #star5:hover {
	background-color:#20DF50;
}
#globeIcon:hover {
	cursor:pointer;
}
#reviewPost {
	float:right;
	width:90px;
}
#reviewClear {
	float:right;
	width:90px;
	margin-right:5px;
}
label > input {
	visibility:hidden;
	position:absolute;
}
label > input:checked + img {
	color:yellow;
}
#readMoreWrapper {
	text-align:center;
	overflow:auto;
	white-space:nowrap;
	padding:0;
	margin:0;
}
#readMoreBtn {
	position:absolute;
	margin:0;
}
#profilePiccyWrapper {
	width:110px;
	height:110px;
	display:inline-block;
	position:absolute;
	right:10px;
	top:12px;
	border-radius:10px;
}
#reviewPiccyWrapper {
	width:60px;
	height:60px;
	display:inline-block;
	position:relative;
	border-radius:10px;
	text-align:center;
}
.profilePiccy {
	width:100%;
	height:100%;
	position:relative;
	border-radius:10px;
}
#profilePiccyWrapper:hover,
.profilePiccy:hover {
	cursor:pointer;
}
#profilePiccyAdd {
	float:left;
	margin-left:10px;
}
#profilePiccyEdit {
	float:left;
	margin-left:25px;
}
#profilePiccyRemove {
	float:right;
	margin-right:10px;
}
#profilePiccyAdd:hover,
#profilePiccyEdit:hover,
#profilePiccyRemove:hover {
	background-color:lightgrey;
	cursor:pointer;
}